<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta http-equiv="cache-control" content="no-cache">
   <meta property="fb:admins" content="503582880"/>
   <meta property="fb:app_id" content="188928671231690"/>
   <title>{{ page.title }}</title>
   <meta name="author" content="Alex Shvid" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
   <script src="/js/main.js"></script>

</head>
<body>

<div class="site">
  <div class="title" id="menuId">
    <a class="extra" href="/">Blog</a>
    <a class="extra" href="/tools.html">Tools</a>
    <a class="extra" href="/author.html">Author</a>
  </div>

  {{ content }}

  <div class="footer">
    <div class="blog">
      <p>
          This blog is an <a href="https://github.com/shvid/shvid.github.com">opensource</a> project.
      </p>
    </div>
    <div class="contact">
      <p>
        Alex Shvid
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://www.linkedin.com/in/shvid">linkedin.com/in/shvid</a><br />
        <a href="https://twitter.com/#!/AlexShvid">twitter.com/#!/AlexShvid</a><br />
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://code.shvid.com">code.shvid.com</a><br />
        <a href="https://github.com/shvid">github.com/shvid</a><br />
      </p>
    </div>    
    <div class="contact">
      <p>
        <a href="https://passport.webmoney.ru/asp/certview.asp?wmid=815648224379&viewall=1">WMID:815648224379</a><br />
      </p>
    </div>    
  </div>
</div>

<script type="text/javascript">
$(document).ready(selectMenu());
</script>

<script type="text/javascript">
  (function() {
    var _sw = document.createElement('script'); _sw.type = 'text/javascript'; _sw.async = true;
    _sw.src = 'https://suggest.io/js';
    var _sh = document.getElementsByTagName('head')[0]; _sh.appendChild(_sw);
  })();
</script>

</body>
</html>
